body {
  background: #fff;
}
.signUpBasicHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.signUpBasicHeader .brand-container {
  display: block;
}
.signUpBasicHeader .signInLink {
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
}
.signUpBasicHeader .signInLink:hover {
  text-decoration: underline;
}
.centerContainer {
  max-width: 970px;
  margin: 0 auto 15px;
  padding: 20px 3% 60px;
}
.regFormContainer {
  max-width: 600px;
  margin: 0 auto;
  color: rgb(51, 51, 51);
}
.regFormContainer .stepHeader-container {
  margin-bottom: 20px;
}
.regFormContainer .stepTitle {
  font-size: 32px;
  font-weight: 700;
}
.stepHeader-body .group {
  width: 100%;
  margin-bottom: 15px;
}
.stepHeader-body div label {
  color: rgb(140, 140, 140);
  font-size: 16px;
}
.stepHeader-body div input:not(.remember) {
  height: 60px;
  width: 100%;
  padding: 10px 10px 0;
  box-sizing: border-box;
  font-size: 16px;
  display: block;
  color: rgb(0, 0, 0);
  height: 44px;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 2px;
}
.stepHeader-body div input:last-child {
  margin-bottom: 10px;
}
.submitBtnContainer button {
  border: none;
  min-height: 64px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
  border-radius: 4px;
  width: 100%;
  padding: 0.7rem 25.3333px;
  background-color: rgba(229, 9, 20, 1);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
  letter-spacing: 0.025rem;
  text-decoration: center;
}
.submitBtnContainer button:hover {
  background-color: rgb(246, 18, 29);
}
.group-r-me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.stepHeader-body.form-container {
  box-shadow:0 0 0.5rem rgb(0 0 0 /30%);
  padding:10px;
  width:900px;
}
.header-form-container h2{
  line-height:1.4;
  letter-spacing:1.1px;
  word-spacing:2px;
}
.mt{
  margin-top: 123px;
}
.no-margin{
  margin:0 !important;
}